{% extends "master.html" %}

{% block title %}
    My Tennis Club - List of all members
{% endblock %}

{% block content %}
    <div class="list-group">
        <h1>
            All Members
        </h1>
        
        <ul>
            {% for x in mymembers %}
            <li class="list-group-item list-group-item-action" onclick="window.location = 'details/{{ x.slug }}'" style="display: list-item; cursor: pointer;">{{ x.firstname }} {{ x.lastname }} </li>
            {% endfor %}
        </ul>
    </div>
        
        
{% endblock %}