{% extends "master.html" %}

{% block title %} 
   Details about {{ mymember.firstname}} {{ mymember.lastname }} 
{% endblock %}

{% block content %}
    <div class="card border-info rounded-5">
        <div class="card-body">
            <h1 class="card-title text-primary">{{ mymember.firstname }} {{ mymember.lastname }}</h1>
    
            <p class="card-text text-success">Phone Number: {{ mymember.phone}}</p>
    
            <p class="card-text text-success">Member Since: {{ mymember.joined_date}}</p>    
        </div>
    </div>
    
        
{% endblock %}